<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
        <h1>Signup</h1>
        <% if (locals.error) { %>
            <p> Error <%= error %></p>
           <% } %>
        <form action="/user" method="post">
            <label >Full Name</label>
            <input type="text" required placeholder="Enter Full Name" name="name">
            <br>
            <label >Email</label>
            <input type="text" required placeholder="Enter Full Name" name="email">
            <br>
            <label >Password</label>
            <input type="password" required placeholder="Enter Full Name" name="password">

            <button >Signup</button>
        </form>
</body>
</html>